@model FITBiD_empty.ViewModels.BooksReservationViewModel

@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">Sve rezervacije</h2>


<table class="table">
	<tr>
		<th>
			Naziv knjge
		</th>
		<th>
			Broj indeksa
		</th>
		<th>
			Student
		</th>
		<th>
			Datum rezervacije
		</th>
		<th>
			Rezervacija potvrđena
		</th>
		<th>
            Opcije
        </th>
	</tr>
    @foreach(FITBiD_empty.ViewModels.BooksReservationViewModel.RezervacijaInfo item in Model.rezervacije) { 
    <tr>
        <td>
            @item.NazivKnjige
        </td>
		<td>
			@item.BrojIndeskaStudenta
		</td>
        <td>
            @item.ImeStudenta @item.PrezimeStudenta
        </td>
        <td>
            @item.DatumRezervacije
        </td>
        <td>
            @Html.DisplayFor(x => item.RezervacijaPotvrdjena)
        </td>
		<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm buttonThinStyle" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm buttonThinStyle" })
            
        </td>
    </tr>
    }

</table>
