@using System.Collections
@using FITBiD_empty.Helper
@using FITBiD_empty.Models
@using System.Web
@using Mvc.RazorTools.FontAwesome

@model FITBiD_empty.ViewModels.EvidencijaProdajeKnjigaViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Prodaja knjige</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <div class="ui-widget ">
                    <label for="knjiges">Knjiga: </label>
                    @Html.TextBox("knjiges", null, new { @class = "form-control", required = "required" })
                </div>
            </div>
        </div>
        <br />
       @if (ViewData["Greska"] != null)
       {
        <div class="alert alert-warning"><p>Greška: Uneseni ISBN ne postoji</p></div>
       }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Potvrdi" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $('#knjiges').autocomplete(
                {
                    source: '@Url.Action("BookSearch", "BookRecord")'
                });
        })

    </script>


}
