@model FITBiD_empty.Models.EvidencijaKnjigaZaProdaju

@{
    ViewBag.Title = "Details";
}

<h3>Detalji prodaje</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Knjiga.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjiga.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radnik.Ime)
        </dd>

        <dt>
            @Html.DisplayName("Datum evidencije")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumEvidencije)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
