@model FITBiD_empty.Models.EvidencijaKnjigaZaProdaju

@{
    ViewBag.Title = "Details";
}

<h3>Detalji prodaje</h3>
<div class="row">
    <div class="col-md-4">
        <hr />
        <table class="table table-striped">
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Knjiga.Naziv)</b></td>
                <td>@Html.DisplayFor(model => model.Knjiga.Naziv)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Radnik.Ime)</b></td>
                <td>@Html.DisplayFor(model => model.Radnik.Ime)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayName("Datum evidencije")</b></td>
                <td>@Html.DisplayFor(model => model.DatumEvidencije)</td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
