@model IEnumerable<FITBiD_empty.Models.EvidencijaKnjigaZaProdaju>

@{
    ViewBag.Title = "View";
}

<h3>Pregled prodaje knjiga</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Knjiga.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Radnik.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumEvidencije)
        </th>
        <th>
            @Html.DisplayName("Opcije")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Knjiga.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Radnik.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumEvidencije)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
