@using FITBiD_empty.ViewModels
@model FITBiD_empty.ViewModels.BookSaleViewModel

@{
    ViewBag.Title = "View";
}

<h3>Pregled prodaje knjiga</h3>

<p>
    @Html.ActionLink("+ Prodaj knjigu", "Create",null,new {@class = "btn btn-default btn-sm"})
</p>
<table class="table">
    <tr>
        <th>
            Naziv knjige
        </th>
        <th>
            Radnik
        </th>
        <th>
            Datum evidencije
        </th>
        <th>
            Opcije
        </th>
    </tr>

@foreach (var item in Model.listaEvidencijaKnjigaZaProdaju) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazivKnjge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Radnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumEvidencije)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
