@using FITBiD_empty.ViewModels;
@using Mvc.RazorTools.FontAwesome
@{
    ViewBag.Title = "Index";
}
@model FITBiD_empty.ViewModels.UserActivityViewModel

@using (Ajax.BeginForm("Details", "UserActivity", new AjaxOptions() { UpdateTargetId = "rezultat" }))
{
    <div class="container">
        <br />
        <div class="row">
            <h3>@Html.FontAwesome(FontAwesomeIconSet.Tags) Praćenje aktivnosti studenta</h3>
            <hr />
            <label for="students">Student: </label>
            <br />
            <div class="btn-group">
                <div class="ui-widget ">

                    @Html.TextBox("students", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" id="btnSearch" class="btn btn-default">@Html.FontAwesome(FontAwesomeIconSet.Search)</button>
            </div>

            @if (ViewData["Greska"] != null)
            {
                <div class="alert alert-warning">ViewData["Greska"]</div>
            }

        </div>
    </div>
}
<div id="rezultat"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $('#knjiges').autocomplete(
                {
                    source: '@Url.Action("BookSearch", "BookRecord")'
                });
        })

        $(document).ready(function () {
            $('#students').autocomplete(
                {
                    source: '@Url.Action("StudentSearch", "BookRecord")'
                });
        })

    </script>
}








