@model FITBiD_empty.Models.EvidencijaKnjigaZaIznajmljivanje

@{
    ViewBag.Title = "Details";
}

<h3>Detalji iznajmljivanja</h3>
<div class="row">
    <div class="col-md-6">
        <hr />
        <table class="table table-striped">
            <tr>
                <td><b>Knjiga</b></td>
                <td>@Html.DisplayFor(model => model.Knjiga.Naziv)</td>
            </tr>
            <tr>
                <td><b>Radnik</b></td>
                <td>@Html.DisplayFor(model => model.Radnik.Ime)</td>
            </tr>
            <tr>
                <td><b>Student</b></td>
                <td>@Html.DisplayFor(model => model.Student.BrojIndeksa)</td>
            </tr>
            <tr>
                <td><b>Datum izdavanja</b></td>
                <td>@Html.DisplayFor(model => model.DatumIzdavanja)</td>
            </tr>
            <tr>
                <td><b>Datum vraćanja</b></td>
                <td>@Html.DisplayFor(model => model.DatumVracanja)</td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
