@using FITBiD_empty.ViewModels
@using Mvc.RazorTools.FontAwesome
@model FITBiD_empty.ViewModels.BooksRecordViewModel

@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">@Html.FontAwesome(FontAwesomeIconSet.Reorder) Evidencija izdavanja knjiga</h2>

<p>
    @Html.ActionLink("+ Iznajmi knjigu", "Create", null, new { @class = "btn btn-default btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            Knjiga
        </th>
        <th>
           Autor
        </th>
        <th>
           Student
        </th>
        <th>
            Datum izdavanja
        </th>
        <th>
            Datum vraćanja
        </th>
		<th>
			Opcije
		</th>
    </tr>

@foreach (var item in Model.listaEvidencijaKnjigaZaIznajmljivanje) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazivKnjige)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVracanja)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm buttonThinStyle" }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm buttonThinStyle" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm buttonThinStyle" }) 
            @*@Html.ActionLink("Done", "Done", new { id=item.Id })  --ovdje kazemo da je knjiga vraćena *@ 
        </td>
    </tr>
}

</table>
