@model FITBiD_empty.ViewModels.BooksReservationViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @foreach(FITBiD_empty.ViewModels.BooksReservationViewModel.RezervacijaInfo item in Model.rezervacije) { 
    <tr>
        <td>
            @item.NazivKnjige
        </td>
        <td>
            @item.StudentIme
        </td>
        <td>
            @item.DatumRezervacije
        </td>
        <td>
            @item.RezervacijaPotvrdjena
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
    }

</table>
