@model FITBiD_empty.Models.Knjiga

@{
    ViewBag.Title = "View";
}

<div class="container">
    <br />
    <div class="col-md-2 col-md-offset-1 ">
        <img src="http://placehold.it/190x190&text=Korice" class="img-responsive img-thumbnail" alt="Responsive image">
    </div>
    <div class="col-md-6 divLayout" id="knjigaWrapper">
        <h3>@Html.DisplayFor(model => model.Naziv) <input class="btn btn-default btn-sm pull-right" id="rezervisiButton" type="button" value="Rezerviši" /></h3>
        <hr class="divLayoutDivider" />
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Godina")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GodinaObjavljivanja)
            </dd>

            <dt>
                @Html.DisplayName("Autor")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Autor)
            </dd>

            <dt>
                @Html.DisplayName("Oznaka stalaže")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OznakaStalaze)
            </dd>

            <dt>
                @Html.DisplayName("Prodaja")
            <dd>
                @Html.DisplayFor(model => model.ZaProdaju)
            </dd>

            <dt>
                @Html.DisplayName("Cijena")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cijena) KM
            </dd>

            <dt>
                @Html.DisplayName("Stanje")
            </dt>

            <dd>
                22 knjige
            </dd>

            <dt>
                @Html.DisplayName("Dostupno")
            </dt>

            <dd>
                Da
            </dd>
        </dl>
        
    </div>




</div>