@using System
@using Microsoft.Ajax.Utilities
@using Mvc.RazorTools.FontAwesome
@model FITBiD_empty.Models.Knjiga

@{
    ViewBag.Title = "View";
}

<div class="container">
    <br />
    <div class="col-md-2 col-md-offset-1 ">
        <img src="http://placehold.it/190x190&text=Korice" class="img-responsive img-thumbnail" alt="Responsive image">
    </div>
    <div class="col-md-6" id="knjigaWrapper">
        <h3>@Html.FontAwesome(FontAwesomeIconSet.Book) @Html.DisplayFor(model => model.Naziv) </h3>
        <hr class="divLayoutDivider" />
        <table class="table table-striped">
            <tr>
                <td><b>@Html.DisplayName("Godina")</b></td>
                <td>@Html.DisplayFor(model => model.GodinaObjavljivanja.Year)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayName("Autor")</b></td>
                <td>@Html.DisplayFor(model => model.Autor)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayName("Oznaka stalaže")</b></td>
                <td>@Html.DisplayFor(model => model.OznakaStalaze)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayName("Prodaja")</b></td>
                <td>@Html.DisplayFor(model => model.ZaProdaju)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayName("Cijena")</b></td>
                <td>@Html.DisplayFor(model => model.Cijena) KM</td>
            </tr>
            
        </table>

</div>




</div>