@using FITBiD_empty.ViewModels
@using Mvc.RazorTools.FontAwesome

@model FITBiD_empty.ViewModels.WorkersViewModel


<h2 class="page-header">@Html.FontAwesome(FontAwesomeIconSet.Reorder) Evidencije</h2>
<div class="col-md-3">
    <div class="sidebar-offcanvas" id="sidebar" role="navigation">
        <div data-spy="affix" data-offset-top="45" data-offset-bottom="90">
            <ul class="nav" id="sidebar-nav">
                <li><a href="#kljucevi">Nevraćeni ključevi</a></li>
                <li><a href="#iznajmljene">Iznajmljene knjige</a></li>
                <li><a href="#prodane">Prodane knjige</a></li>
                <li><a href="#materijal">Ispitni materijal</a></li>
                <li><a href="#rezervacije">Rezervacije knjiga</a></li>                
            </ul>
        </div>
    </div>
</div>

<div class="col-md-9" id="workerBoard">
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" >Nevraćeni ključevi @Html.ActionLink("+ Iznajmi ključ", "Create", "KeysRecord", null, new {  id = "kljucevi", @class = "btn btn-default btn-sm pull-right positionButton" }) </div>
                <div class="panel-body">
                    <table class="table table-striped col-md-4">
                        <thead>
                            <tr>
                                <th>Učionica</th>
                                <th>Nastavno osoblje</th>
                                <th>Datum preuzimanja</th>
                                <th>Akcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.listaEvidencijaKljuceva)
                            {
                                <tr>
                                    <td>@x.NazivUcionice</td>
                                    <td>@x.NastavnoOsoblje</td>
                                    <td>@x.DatumPreuzimanja</td>
                                    <td>@Html.ActionLink("Vraćen", "VracenKljuc", new { id = x.Id }, new { @class = "btn btn-info btn-sm pull-right positionButton" })</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    @Html.ActionLink("Iznajmljene knjige", "Index", "BookRecord", null, new { id = "iznajmljene", @class = "linkTextStyle" })
                    @Html.ActionLink("+ Iznajmi knjigu", "Create", "BookRecord", null, new { @class = "btn btn-default btn-sm pull-right positionButton" })
                </div>
                <div class="panel-body">
                    <table class="table table-striped col-md-4">
                        <thead>
                            <tr>
                                <th>Knjiga</th>
                                <th>Autor</th>
                                <th>Datum izdavanja</th>
                                <th>Datum vraćanja</th>
                                <th>Student</th>
                                <th>Akcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.listaEvidencijaKnjigaZaIznajmljivanje)
                            {
                                <tr>
                                    <td>@x.NazivKnjige</td>
                                    <td>@x.Autor</td>
                                    <td>@x.DatumIzdavanja</td>
                                    <td>@x.DatumVracanja</td>
                                    <td>@x.Student</td>
                                    <td>@Html.ActionLink("Vraćena", "VracenaKnjiga", new { id = x.Id }, new { @class = "btn btn-success btn-sm pull-right positionButton" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    @Html.ActionLink("Prodane knjige", "Index", "BookSale", null, new { id = "prodane", @class = "linkTextStyle" })
                    @Html.ActionLink("+ Prodaj knjigu", "Create", "BookSale", null, new { @class = "btn btn-default btn-sm pull-right positionButton" })
                </div>
                <div class="panel-body">

                    <table class="table table-striped col-md-4">
                        <thead>
                            <tr>
                                <th>Knjiga</th>
                                <th>Autor</th>
                                <th>Cijena</th>
                                <th>Datum prodaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.listaEvidencijaKnjigaZaProdaju)
                            {
                                <tr>
                                    <td>@x.NazivKnjge</td>
                                    <td>@x.Autor</td>
                                    <td>@x.Cijena KM</td>
                                    <td>@x.DatumEvidencije</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">Ispitni materijal @Html.ActionLink("+ Naruči materijal", "CreateIspitniMaterijal", "Workers", new {id = "materijal", @class = "btn btn-default btn-sm pull-right positionButton" }) </div>
                <div class="panel-body">
                    <table class="table table-striped col-md-4">
                        <thead>
                            <tr>
                                <th>Naziv materijala</th>
                                <th>Količina</th>
                                <th>Datum narudžbe</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.listaEvidencijaMaterijala)
                            {
                                <tr>
                                    <td>@x.NazivMaterijala</td>
                                    <td>@x.Kolicina</td>
                                    <td>@x.DatumNarudzbe</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">Rezervacije knjiga @Html.ActionLink("Više...", "Index", "BooksReservation", null, new { id = "rezervacije",@class = "btn btn-default btn-sm pull-right positionButton" }) </div>
                <div class="panel-body">
                    @if (ViewData["RezervacijaPotvrdjena"] != null)
                    {   <div class="alert alert-danger" role="alert"><div class="alert alert-success" role="alert">@ViewData["RezervacijaPotvrdjena"]</div></div>}


                    @if (ViewData["RezervacijaNijePotvrdjena"] != null)
                    {   <div class="alert alert-danger" role="alert">@ViewData["RezervacijaNijePotvrdjena"]</div>}

                    <table class="table table-striped col-md-4">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Knjiga</th>
                                <th>Datum rezervacije</th>
                                <th>Odobrena rezervacija</th>
                                <th>Opcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.listaRezervisanihKnjiga)
                            {
                                <tr>
                                    <td>@x.BrojIndexa</td>
                                    <td>@x.Naziv</td>
                                    <td>@x.DatumRezervacije</td>
                                    <td>@(x.Status ? "Da" : "Ne")</td>
                                    <td>
                                        @Html.ActionLink("Odobri rezervaciju", "OdobriRezervaciju", new { id = x.Id }, new { @class = "btn btn-info btn-sm pull-right positionButton" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>