@using FITBiD_empty.ViewModels
@model FITBiD_empty.ViewModels.WorkersViewModel
<br />
<div class="" id="workerBoard">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Ne vraćeni ključevi @Html.ActionLink("+ Evidencija ključa", "Create", "Workers", new {@class = "btn btn-default btn-sm pull-right positionButton"}) </div>
				<div class="panel-body">
					<table class="table table-striped col-md-4">
						<thead>
						<tr>
							<th>Učionica</th>
							<th>Nastavno osoblje</th>
							<th>Datum preuzimanja</th>

						</tr>
						</thead>
						<tbody>
						@foreach (var x in Model.listaEvidencijaKljuceva)
						{
							<tr>
								<td>@x.NazivUcionice</td>
								<td>@x.NastavnoOsoblje</td>
								<td>@x.DatumPreuzimanja</td>
								<td>@Html.ActionLink("Vraćen", "VracenKljuc", new { id = x.Id }, new { @class = "btn btn-info btn-sm pull-right positionButton" })</td>

							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">Iznajmljene knjige danas @Html.ActionLink("+ Iznajmi knjigu", "Create", "BookRecord", null, new { @class = "btn btn-default btn-sm pull-right positionButton" }) </div>
				<div class="panel-body">
					<table class="table table-striped col-md-4">
						<thead>
							<tr>
								<th>Knjiga</th>
								<th>Autor</th>
								<th>Datum izdavanja</th>
								<th>Student</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var x in Model.listaEvidencijaKnjigaZaIznajmljivanje)
							{
								<tr>
									<td>@x.NazivKnjige</td>
									<td>@x.Autor</td>
									<td>@x.DatumIzdavanja</td>
									<td>@x.Student</td>
									<td>@Html.ActionLink("Vraćena", "VracenaKnjiga",new {id = x.Id} ,new { @class = "btn btn-success btn-sm pull-right positionButton" })</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">Prodane knjige @Html.ActionLink("+ Prodaj knjigu", "Create", "BookSale", null, new { @class = "btn btn-default btn-sm pull-right positionButton" }) </div>
				<div class="panel-body">
					<table class="table table-striped col-md-4">
						<thead>
							<tr>
								<th>Knjiga</th>
								<th>Autor</th>
								<th>Datum prodaje</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var x in Model.listaEvidencijaKnjigaZaProdaju)
							{
								<tr>
									<td>@x.NazivKnjge</td>
									<td>@x.Autor</td>
									<td>@x.DatumEvidencije</td>

								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">Ispitni materijal @Html.ActionLink("+ Naruči materijal", "CreateIspitniMaterijal", "Workers", new { @class = "btn btn-default btn-sm pull-right positionButton" }) </div>
				<div class="panel-body">
					<table class="table table-striped col-md-4">
						<thead>
							<tr>
								<th>Naziv materijala</th>
								<th>Količina</th>
								<th>Datum narudžbe</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var x in Model.listaEvidencijaMaterijala)
							{
								<tr>
									<td>@x.NazivMaterijala</td>
									<td>@x.Kolicina</td>
									<td>@x.DatumNarudzbe</td>

								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>