@model FITBiD_empty.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-horizontal">
	<h4>Student</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		<label class="control-label col-md-2">Broj indeksa</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.brojIndeksa, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.brojIndeksa, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Ime</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.ime, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ime, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Prezime</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.prezime, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.prezime, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Email</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Kontakt</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.kontakt, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.kontakt, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Password</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
		</div>
	</div>


</div>
