@using Microsoft.AspNet.Identity
@using Mvc.RazorTools.FontAwesome
@model FITBiD_empty.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">@Html.FontAwesome(FontAwesomeIconSet.User) Profil studenta</h2>
<br />
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <td><b>@Html.DisplayName("Broj indexa")</b></td>
                <td>@Html.DisplayFor(model => model.brojIndeksa)</td>
            </tr>
            <tr>
                <td><b>Ime</b></td>
                <td>@Html.DisplayFor(model => model.ime)</td>
            </tr>
            <tr>
                <td><b>Prezime</b></td>
                <td>@Html.DisplayFor(model => model.prezime)</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>@Html.DisplayFor(model => model.email)</td>
            </tr>
            <tr>
                <td><b>Kontakt</b></td>
                <td>@Html.DisplayFor(model => model.kontakt)</td>
            </tr>
        </table>
    </div>
</div>