@using FITBiD_empty.ViewModels;
@using Mvc.RazorTools.FontAwesome

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FITBiD_empty.ViewModels.PitanjeOdogovorViewModel

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="well col-md-offset-3 col-md-6" style="margin-top: 20px">
            <h4>"&nbsp;@Model.objava.Sadrzaj&nbsp;"</h4>
            <p>
                <small>Obajvio: @Model.objava.Student.Ime @Model.objava.Student.Prezime; Kategorija: @Model.objava.KategorijaObjave.Naziv</small>
            </p>
            <hr />
            <h4>@Html.FontAwesome(FontAwesomeIconSet.QuestionCircle.Spin()) Odgovori na pitanje</h4>
            <textarea name="odgovorTetxarea" class="form-control" style="resize: none;" placeholder="Unesi pitanje..."></textarea> <br />
            <button class="btn btn-default pull-right" type="submit">Odgovori</button>
        </div>
        foreach (FITBiD_empty.Models.Komentar x in Model.Komentari)
        {
            <div class="divLayout col-md-offset-3 col-md-6" style="margin-top: 20px">
                <p>
                    <b><h4>@x.Student.Ime ka'e:</h4> @x.Sadrzaj</b>
                </p>
                <hr class="divLayoutDivider" />
                <p>
                    <small>Odgovorio: @x.Student.Ime @x.Student.Prezime</small><br />
                </p>
            </div>
        }
    }


</div>