@using System.Collections
@using FITBiD_empty.Helper
@using FITBiD_empty.Models
@using System.Web
@using Mvc.RazorTools.FontAwesome
@model System.Collections.Generic.IEnumerable<FITBiD_empty.Models.Knjiga>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2 class="page-header">@Html.FontAwesome(FontAwesomeIconSet.Search) Pretraga knjiga</h2>

    <div>
        @using (Html.BeginForm())
        {
            
            <div class="row">
                <div class="col-md-3">
                    <input type="text" name="nazivKnjige" class="form-control" placeholder="Unesi naziv knjige..">
                </div><!-- /input-group -->
                
                <div class="col-md-3">
                    <select name="izabranaKategorija" class="form-control">
                        <option value="-1">-- Izaberi kategoriju --</option>
                        @foreach (KategorijaKnjige x in (IEnumerable) @ViewData["Kategorije"])
                        {
                            <option value="@x.Id">@x.Naziv</option> 
                        }
                    </select>
                </div>
                <button class="btn btn-default" type="submit">@Html.FontAwesome(FontAwesomeIconSet.Search)</button>
            </div>
            <br/>
            if (ViewData["Greska"] != null)
                    {
                        <div class="alert alert-warning">@ViewData["Greska"]</div>
                    }
            if (ViewData["Rezervacija"] != null)
                    {
                        <div class="alert alert-success">@ViewData["Rezervacija"]</div>
                    }
            
            <table class="table table-striped">
                <tr>
                    <th>
                        Naziv
                    </th>
                    <th>
                        Izdanje
                    </th>
                    <th>
                        Autor
                    </th>
                    <th>
                        Prodaja
                    </th>
                    <th>
                        Cijena
                    </th>
                    <th>
                        Akcije
                    </th>
                </tr>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Naziv</td>
                        <td>@x.GodinaObjavljivanja.Year</td>
                        <td>@x.Autor</td>
                        <td>@(x.ZaProdaju == true ? "Da" : "Ne")</td>
                        <td>@(x.Cijena == 0 ? "Nema" : @x.Cijena.ToString() + " KM")</td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Book", new {id = x.Id}, new {@class = "btn btn-default btn-sm buttonThinStyle"}) |
                            @Html.ActionLink("Rezerviši", "Rezervisi", "BooksReservation", new { knjigaId = x.Id }, new { @class = "btn btn-success btn-sm buttonThinStyle" }) 
                            
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
