@using FITBiD_empty.ViewModels;
@{
    ViewBag.Title = "StudentBoard";
}

@model FITBiD_empty.ViewModels.StudentBoardViewModel

<h2 class="page-header">Student board</h2>
<div class="col-md-6">
    <h3>Pitanja i odgovori</h3>
    @*<table class="table">
        <tr>
            <th>Status</th>
            <th>Student</th>
            <th>Kategorija</th>
            <th>Akcije</th>
        </tr>
        @foreach (FITBiD_empty.Models.Objava x in Model.objave)
        {
            <tr>
                <td>@x.Sadrzaj</td>
                <td>@x.Student.Ime</td>
                <td>@x.KategorijaObjave.Naziv</td>
                <td>@Html.ActionLink("Odgovori", "")</td>
            </tr>
        }
    </table>*@

    <div class="well"><h4>"Trazim knjigu za računarskih mreža, pomoć ?&nbsp;"</h4>
        <p>
            <small>Obajvio: Antonio, 12.1.2014</small>
            <a href="/Profile/PitanjeOdgovor" class="btn btn-sm btn-default pull-right">Odgovori</a>

        </p>
    </div>
    
    





</div>

<div class="col-md-6" id="BookInfoTabels">
    <h3>Rezervisane knjige</h3>
    <table class="table table-striped">
        <tr>
            <th>Knjiga</th>
            <th>Datum rezervacije</th>
            <th>Status</th>
            <th>Akcije</th>
        </tr>
        @foreach (FITBiD_empty.Models.Rezervacija x in Model.rezervisaneKnjige)
        {
            <tr>
                <td>@x.Knjiga.Naziv</td>
                <td>@x.DatumRezervacije.ToShortDateString()</td>
                <td>@(x.RezervacijaPotvrdjena ? "Prihvaćeno" : "Odbijeno")</td>
                <td>@Html.ActionLink("Detalji", "")</td>
            </tr>
        }

    </table>

    <hr/>
    <h3>Iznajmljene knjige</h3>
    <table class="table table-striped">
        <tr>
            <th>Knjiga</th>
            <th>Datum izdavanja</th>
            <th>Datum vraćanja</th>
            <th>Akcije</th>
        </tr>
        @foreach (FITBiD_empty.Models.EvidencijaKnjigaZaIznajmljivanje x in Model.iznajmljeneKnjige)
        {
            <tr>
                <td>@x.Knjiga.Naziv</td>
                <td>@x.DatumIzdavanja.ToShortDateString()</td>
                <td>@x.DatumVracanja.ToShortDateString()</td>
                <td>@Html.ActionLink("Detalji", "Details", "BookRecord",new{ id = x.Id },null)</td>
              
            </tr>
        }

    </table>

</div>