@using FITBiD_empty.ViewModels;
@using Mvc.RazorTools.FontAwesome
@{
	ViewBag.Title = "StudentBoard";
}

@model FITBiD_empty.ViewModels.StudentBoardViewModel

<div class="container">
	<h2 class="page-header">@Html.FontAwesome(FontAwesomeIconSet.MortarBoard) Student board</h2>
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="alert alert-success" id="postavljanjePitanjaWrapper">
                <h4>Postavi pitanje</h4>
                <textarea required="required" name="sadrzajTetxarea" class="form-control" style="resize: none;" placeholder="Unesi pitanje..."></textarea> <br/>
				@Html.ValidationMessageFor(model=>model.objave)
				<label>Izaberi kategoriju</label>
                <select name="izabranaKategorijaObjave" class="form-control" id="izabranaKategorijaObjave">
                    @foreach (FITBiD_empty.Models.KategorijaObjave x in Model.kategorijeObjave)
                    {
                        <option value="@x.Id">@x.Naziv</option>
                    }
                </select><br/>
                <button class="btn btn-default btn-sm" type="submit" id="objavaButton">+ Objavi</button>
            </div>
        }

        <h3>@Html.FontAwesome(FontAwesomeIconSet.QuestionCircle) Pitanja i odgovori</h3>
        @foreach (FITBiD_empty.Models.Objava x in Model.objave)
        {
            <div class="well">
                <h4>"&nbsp;@x.Sadrzaj&nbsp;"</h4>
                <p>
                    <small>Obajvio: @x.Student.Ime @x.Student.Prezime; Kategorija: @x.KategorijaObjave.Naziv</small>
                    @*<a href="/Profile/PitanjeOdgovor" class="btn btn-sm btn-default pull-right">Komentariši</a>*@
                    @Html.ActionLink("Komentariši", "PitanjeOdgovor", new { objavaId = x.Id }, new {@class="btn btn-sm btn-default pull-right"})
                </p>
            </div>
        }

    </div>
	<a href="~/Views/Profile/StudentBoard/Upload.cshtml" class="btn btn-info" role="button">Upload</a>
	<div class="col-md-6" id="BookInfoTabels">
		<h3>@Html.FontAwesome(FontAwesomeIconSet.Tags) Rezervisane knjige</h3>
		<table class="table table-striped">
			<tr>
				<th>Knjiga</th>
				<th>Datum rezervacije</th>
				<th>Status</th>
				<th>Akcije</th>
			</tr>
			@foreach (FITBiD_empty.Models.Rezervacija x in Model.rezervisaneKnjige)
			{
				<tr>
					<td>@x.Knjiga.Naziv</td>
					<td>@x.DatumRezervacije.ToShortDateString()</td>
					<td>@(x.RezervacijaPotvrdjena ? "Prihvaćeno" : "Na čekanju")</td>
					<td>@Html.ActionLink("Obriši", "Delete", "BooksReservation", new { id = x.Id },new { onclick = "return confirm('Da li želiš obrisati rezervaciju ?');"})</td>
				</tr>
			}

		</table>

		<hr />
		<h3>@Html.FontAwesome(FontAwesomeIconSet.Book) Iznajmljene knjige</h3>
		<table class="table table-striped">
			<tr>
				<th>Knjiga</th>
				<th>Datum izdavanja</th>
				<th>Datum vraćanja</th>
				<th>Akcije</th>
			</tr>
			@foreach (FITBiD_empty.Models.EvidencijaKnjigaZaIznajmljivanje x in Model.iznajmljeneKnjige)
			{
				<tr>
					<td>@x.Knjiga.Naziv</td>
					<td>@x.DatumIzdavanja</td>
					<td>@x.DatumVracanja</td>
					<td>@Html.ActionLink("Detalji", "Details", "BookRecord", new { id = x.Id }, null)</td>

				</tr>
			}

		</table>
		<div>
			@Html.ValidationSummary()
		</div>
	</div>
</div>